body {
    font-family: sans-serif;
}

h1{
    font-size:20px;
}

p{
    font-size:40px;
    font-family: fantasy;
    color:#1D48A4;
}

h2{
    padding:20px;
}

h3{
    font-size:22px;
}

h4{
    padding:20px;
    font-size: 22px;
}

a{
    text-decoration: none;
    color: brown;
}

h5{
    font-size: 40px;
}

h6{
    font-size:25px;
}

span{
    font-size: 25px;
}

.belobog{
    color: rgb(6, 60, 175);
    border-bottom: 3px navy dashed;
    border-top: 3px navy dashed;
}

h4{
    color: #0066ff;
    font-size: 30px;
    
}
